[data-ples-effect='focus'] {
  --ples-from: translate(0, 8px);
  --ples-filter: blur(8px);
  --ples-ease: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ples-fade-ease: var(--ples-ease);
  --ples-duration: 800ms;
}

@supports (transition-delay: attr(data-ples-hold type(<time>), 0ms)) {
  [data-ples-effect='focus'] {
    --ples-from: translate(0, attr(data-ples-up type(<length>), 8px));
    --ples-filter: blur(attr(data-ples-blur type(<length>), 8px));
  }
}
