[data-ples-effect='screw'] {
  --ples-from: scale(0.5) rotate(90deg);
  --ples-ease: cubic-bezier(0, 0.75, 0.25, 1);
  transform-origin: var(--ples-origin, center);
}

@supports (transition-delay: attr(data-ples-hold type(<time>), 0ms)) {
  [data-ples-effect='screw'] {
    --ples-from: scale(attr(data-ples-scale type(<number>), 0.5))
      rotate(attr(data-ples-angle type(<angle>), 90deg));
    transform-origin: attr(data-ples-origin type(*), center);
  }
}
